@media only screen and (min-width: 600px) {
    ion-title{
      text-align: center;
      color: white;
    }
    }
   ion-card{
     background-color: white;
   }
   ion-card-title {
     color:#752169 ;
   }
    .gradiente{
      --background: var(--ion-color-gradiente);
      --ion-text-color: white;
    }
    .fondoBlanco{
      --background: white;
    }
    body{
      background-color: #752169;
    }
    
    #localidadSelect,#provinciaSelect,#ordenar,#buscador{
      width: 400px;
    }
    #mensajeResultado{
      color:#752169 ;
      font-weight: bold;
      font-size: 22pt;
      margin-left: 40px;
    }
    