#container {
  
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.pregunta{
  color:#752169;
  font-weight: bold;
  font-size: 14pt;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
ion-title{
  color:white;
}
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
@media only screen and (min-width: 600px) {
ion-title{
  text-align: center;
}

ion-img{
  width: 280px;
  height: 280px;
  margin-left: 100px;
}
.titulo{
  color:#752169;
  font-weight: bold;
  font-size: 30pt;
}
.bienvenidaInicio{
  margin:15px;
  margin-bottom: 30px;
}
.seccionesInicio{
  margin:20px;
  margin-left: 30px;
}
.textoInicio{
 margin-top: 50px;
 margin-left: 60px;
}
}

.gradiente{
  --background: var(--ion-color-gradiente);
  --ion-text-color: var(--ion-color-gradiente-contrast);
}

@media only screen and (max-width: 600px) {
.slide-img-padding{
  padding: 40px;
}
h3{
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 60px;
}
ion-img{
  margin: auto;
  width: 220px;
  height: 270px;
}
.bienvenidaInicio{
  margin:20px;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.titulo{
  color:#752169;
  font-weight: bold;
  font-size: 30pt;
}

}