<ion-header>
  <ion-toolbar class="gradiente"> 
    <ion-buttons slot="start">
      <ion-menu-button color="light" name="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Preguntas Frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="preguntasdiv">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/pregunta.png">
      </ion-thumbnail>
      <div>
        <ion-label class="pregunta">Me he equivocado con una notificación que he creado</ion-label><br>
        <ion-label style="padding-top:10;">No hay ningún problema, puede reportarla para su posterior eliminación</ion-label>
      </div>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/pregunta.png">
      </ion-thumbnail>
      <div>
        <ion-label class="pregunta">¿Puedo ver una notificación incorrecta?</ion-label><br>
        <ion-label style="padding-top:10;">Las notificaciones incorrectas los propios usuarios podrán reportarlas e inmediatamente serán eliminadas.</ion-label>
      </div>
    </ion-item><ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/pregunta.png">
      </ion-thumbnail>
      <div>
        <ion-label class="pregunta">¿Cómo puedo reportar una notificación?</ion-label><br>
        <ion-label style="padding-top:10;">Podrá reportar una notificación en el icono de reportar, se encuentra en la misma notificación.</ion-label>
      </div>
    </ion-item><ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/pregunta.png">
      </ion-thumbnail>
      <div>
        <ion-label class="pregunta">¿Cuánto duran las notificaciones?</ion-label><br>
        <ion-label style="padding-top:10;">Las notificaciones tienen una caducidad de tres días, el tiempo medio que se tarda en reponer los productos.</ion-label>
      </div>
    </ion-item><ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/pregunta.png">
      </ion-thumbnail>
      <div>
        <ion-label class="pregunta">Puedo acceder a esta App desde mi móvil?</ion-label><br>
        <ion-label style="padding-top:10;">La aplicación FoodLack está disponible para Android e Ios.</ion-label>
      </div>
    </ion-item><ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/pregunta.png">
      </ion-thumbnail>
      <div>
        <ion-label class="pregunta">No encuentro el supermercado de mi localidad.</ion-label><br>
        <ion-label style="padding-top:10;">Puede informarnos y añadiremos dicho supermercado.</ion-label>
      </div>
    </ion-item>
  </div>
</ion-content>
