@media only screen and (min-width: 600px) {
    ion-title{
      text-align: center;
    }
    }

    @media only screen and (min-width: 600px) {
        ion-menu{
          width: 300px;
        }
        }

.logo{
  width: 35px;
  height: 35px;
  position: relative; 
}
.redes{
  color: #752169;
  margin-right: 5px;
}
.facebook{
  color: #3b5998;
  margin-right: 15px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}.insta{
  color:  #bc2a8d;
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.tweet{
  color: #00acee;
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.gmail{
  color: 	#c71610;
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.logoTexto{
  color: #752169;
  font-weight: bold;
  font-size: 16pt;
}
.rosa{
  color: #752169;
  font-weight: bold;
}
.abajo{
  color: #752169;
  margin-top:99%;
  margin-left: 5px;

  
}
